[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "SnapKit"]
	path = SnapKit
	url = https://github.com/SnapKit/SnapKit.git
